<div class="col-md-6 mx-auto">
    <div class="card">
        <div class="card-header">
            <h2>Ingrese su situacion</h2>
            <p>Por favor, sientase libre de explayarse y de ralatar con lujo de detalles.</p>
        </div>
        <div class="card-body"> 
            <form action="/sit/addNewSit" method="POST">
                <div class="form-grup">
                    <textarea name="situation" rows="10" class="form-control"></textarea>
                </div>
                <div class="form-grup pt-5">
                    <button class="btn btn-primary btn-block">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>