<h1 class="titulo">Ayuda Relacional</h1>
    <hr>
    <div class="text-center  container">
        <p>
            Esta pagina tiene la intencion de proveer un espacio para aquellos que estan 
            siendo involucrados en algun tipo problema en cualquier relacion hasta incluso con
            si mismo, luego la intencion de la pagina es completamente experimental y tiene la
            intencion de ayudar en lo que los usuarios identifican como un problema en su vida.
            La parte experimental es la metodologia a seguir para poder ayudar a cada uno a encontrar
            una respuesta a su inconveniente. Se le preguntaran una serie de interrogantes que tendran el
            sentido de llevar la reflexion de cada uno a el motivo principal del inconveniente. 
            Invitamos a que prueben el servicio y asi lograr un crecimiento en ustedes asi como en nosotros.

        </p>
        <hr class="linea">
        <p>
            Para comenzar con el proceso vamos a necesitar que te registres para poder seguir 
            con el historial de lo que quieras compartir con nosotros y para que nosotros podamos
            comunicarnos con usted. Cave aclarar que esta pagina no tienes fines de lucro para con 
            los usuarios por lo que registrarse es GRATIS, estamos para servirte.
            <br>
            <a href="/signUp">
                <button class="btnMio">Registrarse</button>
            </a>
        </p>
        <img class="img" src="calabaza.png" alt="cabeza">
        <p class="pie">Recomendaciones de cualquier tipo depositelas aca.. <input type="text" value="Mejora la pagina muerto"></p>
    </div>
    <script src="js/action.js"></script>