<div class="col-md-6 mx-auto">
    <div class="card">
        <div class="card-header">
            <h2>Pregunta</h2>
            <p>Como se siente?</p>
        </div>
        <div class="card-body"> 
            <form action="/asks/addNewAsk" method="POST">
                <div class="form-grup">
                    <textarea name="answer" rows="10" class="form-control"></textarea>
                </div>
                <div class="form-grup pt-5">
                    <button class="btn btn-primary btn-block">Responder</button>
                </div>
            </form>
        </div>
    </div>
</div>