<div class="col-md-6 mx-auto">
    <div class="card">
        <div class="card-header">
            <h2>Situacion</h2>
            <p>{{sit.situation}}</p>
        </div>
        <div class="card-body"> 
            <form action="/asks/addNewAsk/{{sit._id}}" method="POST">
                <div class="form-grup">
                    <textarea name="ask" rows="10" class="form-control"></textarea>
                </div>
                <div class="form-grup pt-5">
                    <button class="btn btn-primary btn-block">Preguntar</button>
                </div>
            </form>
        </div>
    </div>
</div>