<div class="row p-2">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header bg-info">
                Ingresa
            </div>
            <div class="card-body">
                <form action="/signIn" method="POST">
                    <div class="form-grup">
                        <input type="text" class="form-control" name="email" placeholder="Ingresa tu mail">
                    </div>
                    <div class="form-grup">
                        <input type="password" class="form-control" name="password" placeholder="Ingresa tu contraseña">
                    </div>
                    <div class="d-grid gap-2 m-2">
                        <button class="btn btn-success" >Ingresar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>